.logo-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.logo-track {
  display: flex;
  width: calc(250px * 12);
  animation: scroll 20s linear infinite;
}

.slide {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.slide img {
  width: 80px;
  height: auto;
  object-fit: contain;
  filter: grayscale(20%);
  transition: all 0.3s ease;
}

.slide img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
